@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
body {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}

@media (max-width: 768px) {
  html,
  body {
    overflow: hidden;
    height: 100%;
  }
}

.christmas-message {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  color: #ffeeee;
  letter-spacing: 2px;
  transform: perspective(500px) rotateX(0deg);
  position: fixed;
  line-height: 1;
  margin-top: 80px;
  top: 15px;
  z-index: 9999;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  transition: opacity 1s, visibility 1s;
  display: block;
  animation: glow 1.5s ease-in-out infinite;
}

@keyframes glow {
  20% {
    text-shadow: 0 0 5px #e44848, 0 0 10px #ffffff, 0 0 20px #ffffff;
  }
}

.container {
  text-align: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#showButton {
  background-color: #e44848;
  font-family: "Times New Roman", Times, serif;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px #ffffff;
  transition: all 0.3s ease;
  font-size: 18px;
  padding: 10px;
}

#showButton:hover {
  background-color: #ff8181;
}

#showButton:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

@media (max-width: 600px) {
  #showButton {
    bottom: 80px;
  }
}
.hidden {
  display: none;
}

#guideInfo.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0s 0s;
}

#guideInfo h2,
#guideInfo p {
  margin: 10px 0;
}

.close-btn {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  z-index: 1000;
}

.close-btn:hover {
  color: red;
}

h4 {
  font-size: 26px;
  line-height: 1px;
  font-family: "Amatic SC", cursive !important;
}

.color1 {
  color: #1bbc9b;
}

.color2 {
  color: #c0392b;
}

.card {
  color: #013243;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 400px;
  background: #e0e1dc;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) perspective(2000px);
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5),
    20px 0 60px rgba(0, 0, 0, 0.5);
  transition: 1s;
}

.card:hover {
  transform: translate(-50%, -50%) perspective(2000px);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5),
    0 10px 100px rgba(0, 0, 0, 0.5);
}

.card:hover .imgBox {
  transform: none;
}

.card:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #bac1ba;
  transform-origin: bottom;
  transform: skewX(-45deg);
}

.card:after {
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  width: 5px;
  height: 100%;
  background: #92a29c;
  transform-origin: left;
  transform: skewY(-45deg);
}

.card .imgBox {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: left;
  transition: 0.7s;
}

.card .bark {
  position: absolute;
  background: #e0e1dc;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.7s;
}

.card .imgBox img {
  min-width: 250px;
  max-height: 400px;
}

.card:hover .imgBox {
  transform: rotateY(-135deg);
}

.card:hover .bark {
  opacity: 1;
  transition: 0.6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, 0.4) inset;
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 0 0 20px;
  z-index: -1;
  margin-top: 30px;
}

.card .details p {
  font-size: 15px;
  line-height: 5px;
  padding: 0 0 0 20px;
}

.card .details h4 {
  text-align: center;
}

.text-right {
  text-align: right;
}
.text-between {
  text-align: center;
  color:#6df31f;
}
.text-between-space {
  text-align: center;
  transform: translateX(2em); /* ≈ 2 dấu cách */
  color:#6df31f;}
.text-between-space1 {
  text-align: center;
  transform: translateX(5em); /* ≈ 2 dấu cách */
   color:#e76d09;}